<!DOCTYPE html>
<html>
    <head>
     <title>Chat app</title>
     <link rel="icon" href="/img/favicon.png">
     <link rel="stylesheet" href="/css/styles.min.css"> 
    </head>
    <body >
       <div class="centered-form">
           <div class="centered-form__box">
               <h1>Join</h1>
               <form action="/campground" method="POST">
                   <label for="">Dispaly name</label>
                   <input type="text" name="campground" placeholder="campground" required>
                   <label for="">Password</label>
                   <input type="text" name="image" placeholder="url" required>
                   <button>ADD</button>
               </form>
           </div>
       </div>
    </body>
</html>