{{!-- 

{{#if campgrounds}}
<ul>
    
    {{#each campgrounds}}
         <h1>{{this.campground}}</h1>
        <img id="image" width="300px" hieght="300px" src="{{this.image}}" alt="">
    {{/each}}
</ul>

{{else}}
    <p><em>There are currently no polls.</em></p>
{{/if}} --}}


<a href="/campground/new">add campground</a>